apiVersion: apps/v1
kind: Deployment
metadata:
  name: worker-deployment
spec:
  replicas: 1
  selector:
    matchLabels:
      app: worker
  template:
    metadata:
      labels:
        app: worker
    spec:
      containers:
        - name: worker
          image: stephengrider/multi-worker
          imagePullPolicy: Always
          env:
            - name: REDIS_HOST
              value: redis-server
            - name: REDIS_PORT
              value: '6379'
          ports:
            - name: http
              containerPort: 5000
